div,
span,
a,
p,
i,
img,
button,
input,
textarea {
  -webkit-tap-highlight-color: transparent;
}

.sun-overlay::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2019;
  transition: opacity 0.6s;
  background-color: rgba(0, 0, 0, 0.3);
}

.sun-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}